<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/decode.css">
    <title>decode</title>
</head>
<body>
    <% if (typeof(data) != "undefined") { %>
        <p style="display:none" id="rawData"><%= data %></p>
    <% } %>
    <% if (typeof(uuid) != "undefined") {  %>
        <p style="display:none" id="uuid"><%= uuid %></p>
    <% } %>
    <% if (typeof(validFluids) != "undefined") { %>
        <p style="display:none" id="validFluids"><%= validFluids %></p>
    <% } %>
    <div class="boxHolder"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <% if (typeof(data) != "undefined" && typeof(uuid) != "undefined" && typeof(validFluids) != "undefined") { %>
        <script>
            const uuid = $("#uuid").text();
            const validFluids = JSON.parse($("#validFluids").text()); //A json object that will list all of the valid liqids for pipes

            $(() => {
                let data = JSON.parse($("#rawData").text());

                function sendForm() { //Called when updating a field to update the server
                    $.ajax({
                        url: "/update",
                        type: "POST",
                        data: {
                            UUID: $("#uuid").text(),
                            valveFlow: $("#valveFlow").children("p").text() == "Open" ? true : false,
                            fluid: $("#fluid").children("select").val()
                        },
                        success: function(msg) {
                        }
                    })
                }

                function createSquare(title, value) {
                    let container = $(`<div class="dataSquare"></div>`);
                    let titleHtml = $(`<h1>${title}</h1>`);
                    let valueHtml = $(`<p>${value}</p>`);
                    container.append([titleHtml, $("<hr>"), valueHtml]);
                    return container;
                }

                function createSquare(title, value, id) {
                    let container = $(`<div id="${id}" class="dataSquare"></div>`);
                    let titleHtml = $(`<h1>${title}</h1>`);
                    let valueHtml = $(`<p>${value}</p>`);
                    container.append([titleHtml, $("<hr>"), valueHtml]);
                    return container;
                }

                function createSquareToggle(title, value, callback) {
                    let container = $(`<div class="dataSquare"></div>`);
                    let titleHtml = $(`<h1>${title}</h1>`);
                    let valueHtml = $(`<p class="button">${value}</p>`)
                    valueHtml.click(callback);
                    // valueHtml.on("click", callback(event));
                    container.append([titleHtml, $("<hr>"), valueHtml]);
                    return container;
                }

                function createSquareToggle(title, value, id, callback) {
                    let container = $(`<div id="${id}" class="dataSquare"></div>`);
                    let titleHtml = $(`<h1>${title}</h1>`);
                    let valueHtml = $(`<p class="button">${value}</p>`)
                    valueHtml.click(callback);
                    // valueHtml.on("click", callback(event));
                    container.append([titleHtml, $("<hr>"), valueHtml]);
                    return container;
                }

                function createSquareDropdown(title, index, possibleValues, id, callback) {
                    let container = $(`<div id="${id}" class="dataSquare"></div>`);
                    let titleHtml = $(`<h1>${title}</h1>`);
                    let valueHtml = $(`<select class="button"></select>`);

                    for (let i = 0; i < possibleValues.length; i++) {
                        let option = ($(`<option value="${possibleValues[i]}">${possibleValues[i]}</option>`));
                        if (i == index) {
                            option.prop("selected", true);
                        }
                        valueHtml.append(option);
                    }

                    valueHtml.change(callback);

                    container.append([titleHtml, $("<hr>"), valueHtml]);
                    return container;
                }
                
                $("#rawData").remove();

                Object.keys(data).forEach((key) => {
                    let name = key;
                    let value = data[key];
                    let square = null;
                    if (name == "valveID") {
                        name = "Valve ID";
                    } else if (name == "fluid") {
                        name = "Fluid";
                        square = $(".boxHolder").append(createSquareDropdown(name, validFluids.indexOf(value), validFluids, "fluid", function(event) {
                            sendForm();
                        }));
                    } else if (name == "valveFlow") {
                        name = "Valve Flow";
                        value = (value == true)? "Open" : "Closed";
                        square = (createSquareToggle(name, value, "valveFlow", function(event) {
                            $(this).text(($(this).text()=="Closed")? "Open" : "Closed");
                            sendForm();
                        }));
                    }
                    if (square == null) {
                        $(".boxHolder").append(createSquare(name, value));
                    } else {
                        $(".boxHolder").append(square);
                    }
                });
            });
        </script>
    <% } %> 
</body>
</html>